<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      Yet another To-Do List
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">
    <form [formGroup]="form" (ngSubmit)="createTodo()" class="form">
      <mat-form-field appearance="outline">
        <mat-label>Add new To-Do</mat-label>
        <input matInput formControlName="title" placeholder="Ex. Buy Pizza">
      </mat-form-field>
    </form>

    <mat-list>
      <mat-list-item *ngFor="let todo of todos; index as index; trackBy: trackBy">
        <mat-checkbox [checked]="todo.isCompleted ?? false"
                      (change)="setIsCompleted(todo.id, $event.checked, index)">
          {{todo.title}}
        </mat-checkbox>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button
            color="primary"
            (click)="markAllAsComplete()">
      Mark all as complete
    </button>
    <button mat-button
            color="primary"
            (click)="deleteAllCompleted()">
      Delete all completed
    </button>
  </mat-card-actions>
</mat-card>
